
<h1 class="task-header">
  Edit task
</h1>

<%= form_for @task do |f| %>
  <%= f.label :task, "Task" %>
  <%= f.text_field :task %>

  <%= f.label :details, "Details" %>
  <%= f.text_area :details %>

  <%= f.label :due_date, "Due Date" %>
  <%= f.date_field :due_date %>

   <%= f.label :completed, "Completed" %>
  <%= f.check_box :completed %>

  <%= f.submit "Update" %>
<% end %>


